{% extends 'base2.html.twig' %}

{% block body %}
<div class="col-lg-12">
    <h2 class="page-header">Einkaufsliste erweitern</h2>
               {{form_start(form)}}
               <h4>Artikel</h4>
               {{ form_widget(form.artikel, { 'attr': {'class': 'form-control'}} ) }}
                <h4>Menge</h4>
               {{ form_widget(form.amount, { 'attr': {'class': 'form-control'}} ) }}     <br />     
               {{ form_widget(form.save, { 'attr': {'class': 'btn btn-info'}} ) }}
               {{form_end(form)}}     
</div> 
{% endblock %}
